 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
     background: linear-gradient(135deg, #abb0f3, #433d8b, #030370);
    font-family: Arial, sans-serif;
}

.calculator {
    background: black;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.inputs {
    width:95%;
    cursor: pointer;
    height: 60px;
    background: #000;
    color: #0f0;
    font-size: 40px;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid green;
    margin-bottom: 15px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background: #333;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #444;
}

.operator {
    background: #ff9500;
}

.operator:hover {
    background: #c17503;
}

.equal {
    background: #00c853;
    grid-row: span 2;
}

.equal:hover {
    background: #009e3d;
}

.zero {
    grid-column: span 2;
}